.App {
  text-align: center;
}

.App-logo-size {
  height: 40vmin;
  pointer-events: none;
}
body, html {
  height: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* End Shrinking Nav Bar CSS*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

  /* Style the active/current link */
  .active button {
    background-color: dodgerblue;
    color: white;
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0),rgb(0, 0, 0)0 white, 0 -1px rgb(0, 0, 0);
    border-left: solid 2px rgb(255, 255, 255);
    border-right: solid 2px rgb(255, 255, 255);
  }
  .active button:hover {
    background-color: dodgerblue;
    color: rgb(114, 27, 196);
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0),rgb(0, 0, 0)0 white, 0 -1px rgb(0, 0, 0);
  
  }